# ================= PYTHON =================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.pkl
*.csv

# ================= NODE =================
node_modules/
package-lock.json

# ================= ENV =================
.env

# ================= ANDROID / CAPACITOR =================
android/
ios/

# ================= BUILD =================
dist/
build/

# ================= EDITOR =================
.vscode/
.idea/

# ================= SYSTEM =================
.DS_Store
Thumbs.db